*{
    background-color: darkred;
}

#canva1{
    background-color: white;
    border: 2px black solid ;
}

#centro{
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
