.centro {
  justify-content: center;
}

.t1 {
  color: darkblue;
}
.t2 {
  color: blue;
}

body {
  background-color: cornflowerblue;
}

#background {
  background-color: cornflowerblue;
}

.parte_1 :hover {
  background-color: mintcream;
}
p {
  color: #073763;
}

table {
  color: midnightblue;
  font-size: 18pt;
}
