<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link rel="stylesheet" href="Aula_09/style.css">
</head>
<body>
    <h1>RESPOSTA</h1>
    <p>Nome: xxxx</p>
    <p>Login: yyyy</p>
    <p>Senha: zzzz</p>
    <p>Nascimento: ddmmyyyy</p>
</body>
</html>