<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Resposta</title>
    <link
      rel="stylesheet"
      href="/Aula_02/Projeto_parte_2/Aula_09/estilogtp.css"
    />
  </head>
  <body>
    <div class="container">
      <h1><%= status %></h1>
      <% if (nome) { %>
      <p>Nome: <%= nome %></p>
      <% } %> <% if (login) { %>
      <p>Login: <%= login %></p>
      <% } %> <% if (nasc) { %>
      <p>Nascimento: <%= nasc %></p>
      <% } %>
      <a href="/login">Voltar para o login</a>
    </div>
  </body>
</html>
